/* ESTILO GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;


}

/* ul.sem-marcador {

    list-style-type: none;
    padding-left: 0;
} */

body {
    background-color: black;
    height: 100vh;
    /*altura que toma todo o espaço da tela*/
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

/* ESTILO DO CABEÇALHO */

.header {
    padding: 40px 4%;

}

/* BUSCANDO UMA CLASSE DENTRO DA TAG HEADER, FAZENDO DESTA FORMA VOCÊ FAZ COM QUE O 
ESTILO PEGUE DIRETAMENTE A TAG ESPECIFICADA E NÃO TODOS OS ELEMENTOS NA TAG */

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block
}

header a:hover {
    color: #FFFF;
    transform: scale(1.05);
    transition: .2s;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

header .button-contato button {
    background: linear-gradient(90deg,
            #6D28D9 0%,
            #9333EA 25%,
            #A855F7 50%,
            #3B82F6 75%,
            #EC4899 100%);
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    border-radius: 12px;
    /* Bordas arredondadas para um toque futurista */
    cursor: pointer;
    transition: 0.4s;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(147, 51, 234, 0.8);
    /* Efeito neon */
}

header .button-contato button:before {

    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.3) 10%, transparent 60%);
    opacity: 0;
    transition: 0.4s;
}

header .button-contato button:hover {

    opacity: 1;
}

header .button-contato button {
    box-shadow: 0px 0px 20px rgba(147, 51, 234, 1);
    /* Brilho mais forte no hover */
    transform: scale(1.05);
    /* Efeito de leve crescimento */
}